USE [master]
GO
/****** Object:  Database [asmt]    Script Date: 7/21/2022 11:11:28 PM ******/
CREATE DATABASE [asmt]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'asmt', FILENAME = N'C:\Users\Stanislav_Tarasenko1\asmt.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'asmt_log', FILENAME = N'C:\Users\Stanislav_Tarasenko1\asmt_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [asmt].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [asmt]
GO
USE [asmt]
GO
/****** Object:  Table [dbo].[Person]    Script Date: 7/21/2022 11:11:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Person](
	[Id] [bigint] NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[MiddleName] [nvarchar](max) NULL,
	[PhoneNumber] [nchar](13) NULL,
	[Age] [smallint] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
